body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border: 2px solid tomato;
    background: none;
    color: tomato;
    padding: 20px 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;    
    position: relative;
    overflow: hidden;
    font-size: 25px;
}

.btn:hover{
    color: white;
}

.btn:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color:tomato;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: height 0.5s ;
    
}
.btn:hover:before{
    height: 190%;
    
}
