body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

a{
    text-decoration: none;
    color: white;
    border: 3px solid #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
    padding: 40px 80px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
   
}

a:hover{
    background-color: red;
}

a::before{
    content: '';
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

a:hover::before{
    transform: translateX(100%) rotate(45deg);
}
