body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    background-color: #212121;
}

button{
    border: none;
    padding: 12px 40px;
    background-color: #c47135;
    color: white;
    font-family: Verdana;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

button::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: -5px;
    left: -5px;
    border-top: 2px solid #c47135;
    border-left: 2px solid #c47135;
    transition: all 0.2s;
}
button:hover::before,
button:hover::after{
    height: 100%;
    width: 100%;
}
button::after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -5px;
    right: -5px;
    border-bottom: 2px solid #c47135;
    border-right: 2px solid #c47135;
    transition: all 0.2s;
}
