body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    background-color: #212121;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: #fdc518;
    letter-spacing: 3px;
    height: 60px;
    width: 200px;
    line-height: 60px;
    text-align: center;
    transition: all 0.5s;
    position: relative;   
}
a:hover{
    color: red;
}
a::before{
    content: '';
    position: absolute;
    height: 90px;
    width: 200px;
    top: -15px;
    left: 0;
    border-left: 2px solid red;
    border-right: 2px solid #FDC518;
    transition: all 0.3s;   
}
a:hover::before{
    transform: rotateY(180deg);
    transition-timing-function: ease-out;
}

a::after{
    content: '';
    position: absolute;
    height: 60px;
    width: 230px;
    top: 0;
    left: -15px;
    border-top: 2px solid red;
    border-bottom: 2px solid #FDC518;
    transition: all 0.3s; 
}
a:hover::after{
    transform: rotateX(180deg);
    transition-timing-function: ease-out;
}