body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

a{
    text-decoration: none;
    padding: 40px 80px;
    position: relative;
    color: white;
    border: 3px solid #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
    transition: all 0.5s;
    overflow: hidden;
}

a::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'YEAH!';
    color: rgb(183, 71, 31);
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(183, 71, 31);
    transition: all 1s;
    transform: translateY(-100%);
}
a:hover::before{
    transform: translateY(0);
    color: #ffffff;
}
a:hover{
    color: #222;
}